#ignore ltspice log files
*.log
*.plt
*.raw
*.net
#kicad files
*.bak
*.kicad_pcb-bak
*.kicad_sch-bak
*fp-info-cache
pcb/packaged-amp/packaged-amp-backups
#firmware files
*.o
*.d
*.lst
*.hex
*.elf
*.tmp
*.map
*.bin

*.pyc
#cvs backup files
*.csv#
